#labelNomExposant{
    margin-right: 0.5em;
    margin-left: 2em;
}

#nomExposant{
    margin:2em
}

#validateButton{
    margin-left: 0.5em;
    color: #87D300;
}

#btnCheck{
    background-color: transparent;
    border-color: transparent;
}

#cardContacts{
    text-align: center;
}

.flex-container-Contacts {

    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#expoAdress{
    margin: 1em;

}