button.btn.btn-link, #dropdownItem{
    color: #343a40;
    text-decoration: none;
}

#who,#fesC{
    color: rgba(255, 255, 255, 0.5);
}

#fesC{
    margin-top: 0.5em;
}

.faicon{
    margin-right: 0.5em;
}

.fixed-top {
    position: inherit!important;
}