button.btn.btn-link, #dropdownItem {
    color: #343a40;
    text-decoration: none;
}

#who{
    color: rgba(255, 255, 255, 0.5);
}

.faicon{
    margin-right: 0.5em;
}

.fixed-top {
    position: inherit!important;
}