.card {
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 200ms;
}

.inputCss {
    margin-left: 0.5em;
}

.tableLocalisation {
    width: 100%;
    marginTop: 50px;
    background-color: white;
    margin-bottom: 1rem;
}

