#home{
    background-color: #BCE18D;
}

.flex-container {
    margin-top: 10em;
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#image{
    width: 350px;
}

.flex-item{
    text-align: center;
    margin-top: 2em;
}

h1{
    color:#002065;
}

h2{
    color:#94A1E2;
}

h3{
    color:#E86FB8;
}

p{
    color: #D00063;
}