@media all and (min-width: 480px) {
    .Password {
        padding: 60px 0;
    }

    .Password form {
        margin: 0 auto;
        max-width: 320px;
    }
}

#btn-validate{
    background-color:#002065;
    border-color: #002065;
}
#errorLabel{
    color: red;
}

#logo{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    display: block;
}

#alertSucces{
    padding-top: 4em;
}